<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.bsuite.bsync</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/BRHair/Developer/B-Suite/bsync.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StartInterval</key>
    <integer>3600</integer>
    <key>StandardOutPath</key>
    <string>/Users/BRHair/Developer/B-Suite/.bsync-stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/BRHair/Developer/B-Suite/.bsync-stderr.log</string>
</dict>
</plist>
